[2014-07-22 15:42] m0dev76 opened #80 "Fix tests when compiling with --flags=testnet"

[2014-07-25 20:42] np opened #85 "Support for stealth payments"
If their is interest for this feature in Haskoin, I could get around working on a patch.
Resources on stealth payments [here](https://wiki.unsystem.net/en/index.php/DarkWallet/Stealth)

[2014-07-26 10:50] m0dev76 commented on #85
I like the idea behind stealth payments and we would definitively add them to haskoin if you want to work on them. We are also looking to support bip70 payment protocol eventually.

[2014-12-17 00:02] jprupp opened #131 "Better JSON instance for OutPoint"
I found myself feeding an OutPoint in JSON form to an API based on Haskoin that I wrote, and I used the provided JSON instances.  I noticed that I must provide a concatenation of the transaction ID with swapped endianness and the output index as eight hexadecimal digits.  Not ideal.

[2014-12-20 23:33] m0dev76 opened #132 "SPV node connected to a syncing peer"
Review the block download logic when connected to a peer that is also catching up on the chain.

[2015-01-20 11:42] jprupp commented on #80
Pull request #141 makes this obsolete.

[2015-01-20 11:44] jprupp commented on #85
Would this be something that would go here or in haskoin-wallet?

[2015-01-20 11:46] m0dev76 commented on #85
The cryptography primitives would go here in haskoin and the wallet part would go into haskoin-wallet. Much like extended keys.

[2015-01-20 12:07] np commented on #85
Exactly, I would say that all the pure code can go to haskoin. In haskoin-wallet can go what is specific to the persistent storage and the wallet interface itself.

I'm still slightly concerned by the lack of standardization around stealth addresses. Also some changes are from November (https://wiki.unsystem.net/en/index.php/DarkWallet/Stealth)

[2015-01-24 19:00] s9gf4ult opened #142 "I have cutted your base58 out!"
Hello, I have cutted base58 implementation to separate package
https://bitbucket.org/s9gf4ult/base58-bytestring

My question is: do you need a patch to this package adding dependency from `base58-bytestring` and removing it's implementation? Or you guys maybe want to add  `base58-bytestring` to `haskoin` team on github?

[2015-01-24 21:28] m0dev76 commented on #142
Hi, I like the idea of cutting out the base58 implementation into its own separate package.

I had a quick look at the code. I guess you didn't add the checksum functions as they were not strictly relevant to the base58 encoding and ripple/flickr? You do some property testing which is good as it guarantees internal consistency (decode . encode = id) but I'd also add some unit tests against known c

[2015-01-25 14:52] s9gf4ult commented on #142
You absolutely right about tests. Is there any golden files from `bitcoin` project or something?

What do you think about adding `base58check` inside `base58-bytestring`?

If yes, then `base58-bytestring` will not be such lightweight becuase of `Crypto.Hash.SHA256` module from `cryptohash` as dependency (am i right?).

If no, then where `base58check` must be? It is strange to leave it in `haskoin`

[2015-01-25 19:05] m0dev76 commented on #142
I've been thinking about this for a while, and my opinion is that base58check is very specific to Bitcoin. It is only relevant for Bitcoin addresses and for a few other things like Bitcoin WIF encodings. I don't think it makes a lot of sense to include a very bitcoin-specific function into a generic base58 bytestring library. And as you pointed out, we would be adding an unnecessary dependency on

[2015-02-03 15:15] jprider63 commented on #142
Huh, I just did [this](https://github.com/jprider63/base58-bytestring/) too. Maybe we can just work together?

Also, I'm using functionality similar to base58check even though I'm not using bitcoin, so maybe it's worth including base58check as well?

[2015-02-03 15:34] m0dev76 commented on #142
Using the first 4 bytes of SHA256 as an error detection mechanism works, but it's not the smartest solution. There are much better ways of using codes to detect errors and even correct them. My opinion is that you should use another error detecting/correcting mechanism unless you really need backwards compatibility with bitcoin for some reason. I still believe that this somewhat weird checksum com

[2015-02-03 17:47] jprider63 commented on #142
Ok, that seems reasonable to me. Do you have suggestions for a better error detection mechanism?

[2015-02-03 18:08] sha49 commented on #142
Base58check is a particular case of a checksum which is a very simple error-detecting code. It is fast and simple, that's it. Whenever you need a checksum, just use it. I do not think it worthwhile exposing this functionality as a general thing.

If you are interested in better ways to detect/correct errors, you should look in Coding Theory (http://en.wikipedia.org/wiki/Error_detection_and_correct

[2015-02-04 10:20] s9gf4ult commented on #142
@jprider63 You are welcome to join. I have added some benchmarks https://bitbucket.org/s9gf4ult/base58-bytestring/src/638c1619bca7749f4a2a20079abf062533df8c10/benchmark-results/?at=master and performance is not very good for now. So we still have something to improve in `base58-bytestring`.

Maybe it is meaningful to generalize things with `base58check` to something like

[code]

and implement sev

[2015-02-04 13:21] jprider63 commented on #142
Ok, cool. Do you want to add me? I'm `jprider63` on bitbucket too. I also have a few ideas of how to improve performance.

I'm starting to agree that the checksum functionality shouldn't be included in this package, but maybe another package dedicated to various checksums.

[2015-02-04 19:28] s9gf4ult commented on #142
Added. But when me/we prepare patch for haskoin this repo will likely be moved to `haskoin` team on github.

[2015-02-18 05:40] purefn opened #144 "Possible to create an altcoin using haskcoin?"
Hey folks,

I asked this question in IRC some time ago and didn't get an answer. I'm still interested in figuring this out, in particular I'd like to mess with the mining hash function in addition to all the normal parameters. Would I be able to do that with haskoin? If so, could someone write up a brief howto?

[2015-02-18 08:52] jprupp commented on #144
Mello purefn,

Currently we haven't the full node code written, therefore creating your own altcoin as a Bitcoin clone would require you to use an implementation of the node that can perform transaction and block validation.  We have code in Haskoin for script interpreting, which is the first step towards a full node, but we have focused on getting an SPV node working instead.  There is also no su

[2015-02-18 16:55] purefn commented on #144
@xenog, thanks for the quick reply! I probably won't be able to contribute much in the short term, I still need to learn some basics. But if things go well I hope to be able to contribute in the future.

[2015-02-18 16:55] #144 closed, assigned to nobody

[2015-02-19 16:38] jprupp commented on #144
We all learned Haskell while developing Haskoin.

[2015-04-01 01:11] jprupp opened #152 "Fails to decode public keys for Counterparty transaction outputs"
This transaction contains an output that has an invalid second public key:

https://insight.bitpay.com/tx/34040cf4494f3bc9c06befb6850a89e877c56e7bbaa77a6917820cfa6c7989d9

This output cannot be decoded by Haskoin because the first byte of one public key is not 2, 3 or 4.

[2015-04-01 09:50] m0dev76 commented on #152
The script in question is:

[code]

[2015-04-01 09:57] m0dev76 commented on #152
We don't decode scripts unless you need to evaluate the script. If you want to evaluate that script, then Haskoin doesn't know what the second key is because it is not in compressed form (starting with 2 or 3) or in uncompressed form (starting with 4). So Haskoin doesn't know how to get the point on the curve represented by that key. Is this something special to counterparty?

[2015-04-01 16:51] jprupp commented on #152
Bitcoin Core considers this output spendable since it requires a single signature, even while it has two keys. It will ignore the invalid keys and only consider signatures performed against the valid key. I am not sure if the transaction would be equally valid if the keys were in different order.

The space for the extra key is used for Counterparty metadata. This system was created before OP_RETU

[2015-05-27 17:34] jprupp opened #159 "Allow QuickCheck 2.8.1"
When installing haskoin after following instructions on the Stackage site to install Haskell in Ubuntu, I must issue `--force-reinstalls` because QuickCheck is affected by haskoin.

The version of QuickCheck present in the user’s GHC installation depends on the installation of alex and happy that is performed as the last step of Stackage instructions.

[2015-06-06 00:36] jprupp opened #162 "Use sipa’s crypto library"
Use [this library](https://github.com/sipa/secp256k1).

[2015-06-21 10:51] matthewleon opened #168 "Dependency issues in GHC 7.10"
GHC 7.10 isn't supported by LTS Haskell, so I try to use a Stackage nightly from `https://www.stackage.org/nightly/cabal.config`

Of course, I then fall into that altogether unpleasant place known as Cabal hell:

[code]

For giggles, I tried `--allow-newer` as well. It gets surprisingly far and then chokes:

[code]

[2015-06-25 08:50] matthewleon commented on #168
A suggestion: get this working with stack. https://github.com/commercialhaskell/stack

[2015-06-25 08:52] jprupp commented on #168
Hello, yes, Stack is coming to Haskoin. I will also fix GHC 7.10 compatibility issues, as long as they don't break the package for GHC 7.8.

[2015-07-04 08:28] #80 closed, assigned to jprupp

[2015-07-04 08:30] jprupp commented on #159
We are tracking LTS Haskell and using Stack now. We will add QuickCheck 2.8 support when it makes it there.

[2015-07-04 08:30] #159 closed, assigned to nobody

[2015-07-04 08:31] jprupp commented on #152
I don't think we should support this anymore.

[2015-07-04 08:31] #152 closed, assigned to nobody

[2015-07-04 08:35] jprupp commented on #168
We have moved to Stack and we are supporting LTS Haskell 2.15 now. When GHC 7.10 becomes the default compiler for LTS Haskell, we will add support.

[2015-07-04 08:35] #168 closed, assigned to nobody

[2015-07-04 10:06] #132 closed, assigned to nobody

[2015-07-06 08:33] jprupp opened #171 "Connections do not die"
If the blockchain has been synced and the network connection is removed, Haskoin will not disconnect peers. Also, when the connection returns, peers will not be reconnected.

[2015-08-01 23:21] nuttycom opened #175 "Upgrade deepseq to >=1.4?"
I am attempting to write an implementation of the BIP-70 Payment Protocol, and would like to take advantage of some of the Haskoin types in my implementation. In the process, I've discovered that the protobuf library (which I need for serialization of the Payment Protocol messages) relies on a more recent version of deepseq than haskoin is using. Would you accept a pull request that upgrades the d

[2015-08-02 16:18] benma opened #177 "Bump dependency version upper limits"
Hi

I am using the nightly stackage and GHC 7.10.1. To satisify the stackage nightly dependencies, a few dependency versions need to be bumped.

The relevant stackage versions are:
- deepseq-1.4.1.1
- QuickCheck-2.8.1
- either-4.4.1

I submitted a pull request.

[2015-08-02 19:32] #177 closed, assigned to nobody

[2015-09-11 17:23] #171 closed, assigned to nobody

[2015-09-22 09:22] jprupp commented on #175
I have upgraded this library to use LTS Haskell 3.4, which includes deepseq 1.4.1.1. I’ll close this ticket.

[2015-09-22 09:22] #175 closed, assigned to nobody

[2015-09-27 12:37] jprupp opened #180 "Bytes should be hex in all errors"
Errors such as the one in https://github.com/haskoin/haskoin/blob/master/Network/Haskoin/Crypto/BigWord.hs#L312 should show the value of the offending byte in hex form.

[2015-09-28 00:21] jprupp opened #181 "Wrongly handling DER-encoded length of data"
Currently the byte count that an integer value can have as per DER in `FieldN` is set to be the value of the first octet in the stream. According to DER if the first octet's MSB is 1, the rest of the first octet encodes the number of subsequent octets encoding the length of the integer. If we are to have a maximum size of 32 bytes for `FieldN`, then we should make sure that the first octet is no l

[2015-09-28 00:30] jprupp commented on #181
Refer to section 3.1 on this document for further information:

http://luca.ntop.org/Teaching/Appunti/asn1.html

[2015-09-28 16:41] jprupp opened #182 "Improve performance profile of commonly-used functions"
This includes—but it is not limited to—functions for:
- converting endianness
- hex conversion (use Text or ByteString instead of String)

[2015-10-14 21:18] jprupp opened #184 "Base58 malleability vulnerability due to ByteString conversion"
The function `stringToBS` is implemented as `Data.ByteString.Char8.pack`, which truncates characters longer than 8 bits.  This means that a `String` may have unexpected `Base58` encoding.

[2015-10-14 21:21] jprupp opened #185 "Make literals Text and ByteString instead of String wherever possible"
Performance is hurt by use of the String type.  I propose we move all literals we can to Text or ByteString, and also that we reduce the number of conversions between data types.

[2015-10-14 21:22] jprupp commented on #182
Related to #185.

[2015-10-14 21:23] #142 closed, assigned to nobody

[2015-10-15 08:37] jprupp commented on #185
String does not have memory locality, and has a larger memory footprint.  The performance problems with `String` are obvious.  A linked list with characters represented as longer machine words (32 or 64 bits) that cannot be retrieved from a single memory range, and has to be converted into and out of regular byte arrays when (un)marshalling.

Haskoin deals with strings mostly as `ByteString` and `

[2015-10-26 19:35] tphyahoo opened #191 "bip32 xkey parsing is overly complicated"
I am overhauling the bip32 xpubkey/xprivkey parsing and derivation machinery

This work began when I attempted to fix #192, and I noticed the current implementation is overly complex and therefore hard to fix.

I am working on simplifying the bip32 xkey handling machinery, in branch

https://github.com/tphyahoo/haskoin/commits/rework_ExtendedKeys

Hopefully I should have something ready to pull so

[2015-10-26 20:14] tphyahoo opened #192 "hard-follows-soft paths for bip32 wallets are not properly tested."
Paths like m/0'/1/2' and m/0/2147483647' are not being tested properly in current test suite.

"hard follows soft" paths are legitimate paths for privkey derivations, they are even included in official bip32 test vector.

[2015-10-26 20:18] tphyahoo commented on #192
this is fixed by PR https://github.com/haskoin/haskoin/pull/189

[2015-10-27 12:56] jprupp commented on #191
It's code reading time. Thanks for this. I'll review it.

[2015-11-02 13:43] np commented on #162
As much as I appreciate libsecp256k1, I think that haskoin should feature a pure haskell implementation. The support for libsecp256k1 can still be added. Using a compilation flag for instance.

[2015-11-02 14:00] np commented on #162
Given that you have already done most of the work, my suggestion would be to have a puresecp256k1 library with the exact same interface.

[2015-11-02 17:07] jprupp commented on #162
There is a problem with cryptographic code: you should probably never attempt to write your own unless you know exactly what you are doing. Our cryptography was implemented in a very naive way. It does not run in constant time, and we have not done any analysis to make sure it will stand against common cryptographic attacks. We are not cryptographers. On top of that, the code is extremely slow.

I

[2015-11-10 22:23] jprupp opened #195 "number of transactions excessively high"
When syncing the testnet on perra:

[code]

[2015-11-14 15:37] #184 closed, assigned to jprupp

[2015-11-15 12:43] tphyahoo opened #196 "bip32 public key derivations (starting with capital M) aren't handled correctly"
From Network.Haskoin.Crypto.ExtendedKeys.Units.derivePrvPathVectors

[code]

this test passes if behavior is identical for M as for m.

I believe the convention is for M to derive a public key. It's a bit sketchy in the bip32 spec but

https://github.com/GemHQ/money-tree has this, and the current repo also has in

Network.Haskoin.Crypto.ExtendedKeys.parrsePath:

[code]

 So I think the above test

[2015-11-25 11:43] tphyahoo opened #198 "support op_cltv (aka op_hodl)"
https://github.com/bitcoin/bips/blob/master/bip-0065.mediawiki#Motivation

I think this could be useful.

Or does this already work?

[2015-11-25 11:51] tphyahoo commented on #192
The Bip32 code is basically done at this point.

It probably still needs some cleanup before merge.

In particular, I'd like all the packages that depend on haskoin-core compiling cleanly.

I think some review would also be a good idea.

I have changed some of the Bip32 behavior, because I think the old behavior was bugged.

In particular, in

https://github.com/tphyahoo/haskoin/blob/rework_Extend

[2015-11-25 12:17] tphyahoo commented on #192
There seems to be some directory shuffling going on, so better to use "take3" than take2" branch, which got polluted by the shuffle.

I updated above comment to reflect this.

[2015-11-28 20:46] m0dev76 opened #199 "Implement BIP65 checks for SPV"

[2015-11-28 20:48] m0dev76 commented on #195
We figured this one out. We were getting 8mb block from bitcoinxtd on testnet. We increased the block size on testnet to 8mb but kept the limit at 1mb on prodnet. We need a more permanent solution however so I'll keep this bug report open until we have a permanent fix.

[2015-11-29 12:58] #181 closed, assigned to jprupp

[2015-11-30 21:48] tphyahoo commented on #198
I suppose this is covered by #199, so this should be closed.

[2015-11-30 21:48] #198 closed, assigned to nobody

[2015-12-02 02:29] tphyahoo commented on #192
experimental branch

https://github.com/tphyahoo/haskoin/tree/rework_ExtendedKeys_take4

has all tests (including haskoin-wallet) tests passing.

I think this isn't quite ready for a PR because it should be structured as

-- patch haskoin
-- patch haskoin-wallet

and then pull.

And I need to do the rebase stuff we discussed earlier.

It might be worth having a diff + look just to see if anything

[2015-12-04 02:28] tphyahoo commented on #196
My solution for the above issue was to replace derivePrvPathVectors with deriveHardPrvPathVectors.

See

https://github.com/tphyahoo/haskoin/commit/b6574dc5961c820bf3147adc4325bb514e2e4e54#diff-b4a7936eaf19e08d409c64c9fb5a6a4a

and ctrl-f for these functions in the large diff.

Test strings must now parse as hard path. Soft paths, or DerivPath parsable strings are no longer allowed.

I think libra

[2015-12-04 02:47] tphyahoo commented on #196
This can be closed as soon as #200 is accepted to haskoin-core.

[2015-12-05 22:38] tphyahoo commented on #162
Isn't this done now?

[2015-12-05 22:39] m0dev76 commented on #162
Indeed, we can close this issue now.

[2015-12-05 22:39] #162 closed, assigned to jprupp

[2015-12-06 17:46] tphyahoo commented on #191
It looks like rework_ExtendedKeys_take4 is not going to be accepted, and I understand why.

However, I still think parsing could use some love and I would like to take some of what I learned to clean up existing and make more maintainable.

[2015-12-07 19:17] tphyahoo opened #203 "Arbitrary DerivPath instance doesn't account for mixed paths"
[code]

As a side note, I think the above is easier

[code]

but of course, we still don't have mixed path with that either.

In my #200 rethink, I made this type of testing code easier by tagging path indexes as hard or soft, something like

[code]

You would then have Arbitrary instance for Bip32PathIndex, generate a random list of these, and get the hard path from that.

I think I then started

[2015-12-07 23:54] tphyahoo commented on #203
https://github.com/tphyahoo/haskoin/tree/hard-follow-soft-tphyahoo

fixes

[code]

Arbitrary HardPath is still pending

[2015-12-08 00:01] tphyahoo commented on #203
on second thought, HardPath is derived as using only hard derivations. So I guess this is correct now, only DerivPath needed arbitrary mixing.

[2015-12-08 00:23] tphyahoo commented on #203
Fixed by #204 / https://github.com/tphyahoo/haskoin/commit/a727ff89b1e3f72230cd025d560b25fb5f58df3f

[2015-12-09 05:57] tphyahoo opened #205 "Rename some bip32 types"
rename:

  HardPath -> AllHardPath

create new new at-least-one hard segment path, and make this new type called HardPath.

per discussion in #200 .

[2015-12-14 10:32] m0dev76 opened #206 "Provide typeful bip32 path derivation"
As suggested in the discussion #204, we could offer a utility function with type signature:

[code]

[2015-12-28 23:04] jprupp opened #209 "Merge YAML data structures from configuration file"
In order to be able to change parameters deep inside YAML data structures in the configuration file, the YAML must merge with default instead of overwriting completely, like Yesod configuration does.

[2015-12-29 22:06] jprupp commented on #209
Fixed by #210.

[2015-12-29 22:06] #209 closed, assigned to jprupp

[2016-01-07 08:55] jprupp opened #212 "Crashing when connecting to Bitcoin XT node"
After syncing the faucet database from my computer to the node running the faucet, I started getting crashes at the start of `hw`. These crashes stopped when I synced a fresh database and removed the Bitcoin XT node from the list of nodes to connect to, letting it use its hardcoded list instead.

[2016-01-10 20:57] jprupp opened #214 "Send transactions with time locked funds (BIP-65)"
A new transaction command, under the "transactions" section in help.

sendtimelocked acc addr amount unlockBlock [-S]

funds are spendable after unlockBlock appears in the blockchain.

[2016-01-10 21:03] jprupp opened #215 "Log file is not appended to"
When starting a detached `hw` instance, any existing log file will not be deleted, truncated, or appended to, but instead it will be overwritten. This leads to tools such as tail to show the previous contents of the log file at the end.

[2016-01-15 22:36] jprupp opened #218 "Change JSON confidence field for transactions"
Currently it shows `TxPending` when it should just say `pending`.

[2016-01-15 22:39] jprupp opened #219 "JSON for thread ID should just contain number"
Instead of `ThreadId 84` it should just say 84.

[2016-01-22 15:53] jprupp opened #220 "Haskoin Faucet ZeroMQ API hung"
Today the faucet's ZeroMQ API hung. The logs do not show any anomaly. I presume that the ZeroMQ API green thread stopped running.

[2016-01-22 16:39] jprupp opened #221 "Use typed responses in dispatchers"
When dispatching requests, the library will convert to `Data.Aeson.Value` early instead of using a data type for API responses. It would be good to have that strongly typed.

[2016-01-23 01:15] jprupp opened #224 "Use offset/count in API instead of pages"
Do not use pages, but instead use offset/count in API calls.

[2016-01-26 22:23] np opened #227 "Support for Segregated Witness"
I'd like to see it integrated to haskoin.

Is any one already working on it?

[2016-01-26 23:28] jprupp commented on #227
Not yet, would you like to? All yours!

[2016-02-04 03:36] tphyahoo opened #229 "BIP-0044 Multi-Account Hierarchy for Deterministic Wallets"
I think hw is already close to following bip44, but it doesn't use the purpose field and I am not sure about the other details.

Mainly this would be a win in terms of interoperability with other wallets. Most are switching to bip44.

re-entered from historical repo at https://github.com/haskoin/haskoin-wallet/issues/127

This seems fairly straightforward. Maybe I could do it.

[2016-02-04 17:29] jprupp commented on #229
Yeah, that is a good idea. But hold on a minute because I am working on replacing the whole account mechanism so that the wallet does not store the master key.

[2016-02-05 16:19] jprupp opened #230 "Keyring information should not show up in transaction"
When getting a transaction using `gettx`, this information is displayed about the keyring:

[code]

The mnemonic is clearly not needed in this context. `master` is probably not needed either. In fact possibly the whole keyring section can be omitted.

[2016-02-06 04:15] tphyahoo commented on #229
Does it not store any privkeys? Or does it store privkeys, but not master key?

I'm hoping the answer is no privkeys at all are stored.  If so that's great news. Can you say more on this will work?

Will there be an assumed-online wallet, without privkeys, for generating unsigned transactions? And an assumed-offline signing wallet?  (Which I guess could be a trezor-like hardware wallet eventually)

[2016-02-06 04:20] tphyahoo opened #232 "Support hardware wallet for offline signing"
this was closed in historical repo.  Reopening, because I still think this is a good idea.

historical issue thread: https://github.com/haskoin/haskoin-wallet/issues/131

[2016-02-06 04:28] tphyahoo commented on #230
It seems to me there might be no harm stating which keyring/account a transaction is associated with.

I think keyrings in online wallets should be identified by nickname + xpub though, not mnemonic.  In my view, online wallets should not know mnemonics, nor any xprivs/privkeys.

[2016-02-06 06:03] tphyahoo opened #233 "Show account name for extended key in listing"
current listing behavior (for accounts), you get something like

[code]

I think it would be useful to report the internal account name associated with a pubkey, if known, so eg:

[code]

the unknown accounts could then be labeled via the newread command, after which their pubkeys would show with more info.

[2016-02-10 22:59] jprupp opened #236 "Faucet died with ErrorConstraint"
[code]

[2016-02-11 03:01] tphyahoo opened #237 "Confirmed transaction shows as pending"
https://test-insight.bitpay.com/address/2MsxBxpFuHc81yhzipp4zXZgobWeVnXt15w

is confirmed for a few days, but still shows as pending:

[code]

[2016-02-11 03:28] tphyahoo opened #238 "Read accounts fail to update transactions from regular accounts"
[code]

[2016-02-11 12:39] jprupp opened #239 "Sometimes Haskoin gets stuck in a block"
Sometimes when talking to btcd, the `hw` process stay stuck on a block. Even when reconnecting to the peer it does not update block headers.

[2016-02-11 17:30] jprupp opened #240 "Add height of wallet to status call"
Add block height of wallet to status call.

[2016-02-11 23:56] #236 closed, assigned to nobody

[2016-02-11 23:56] #239 closed, assigned to nobody

[2016-02-12 00:02] jprupp commented on #224
Fixed in #234

[2016-02-12 00:02] #224 closed, assigned to nobody

[2016-02-12 00:04] jprupp commented on #230
I agree. A fix is coming. For now this issue is fixed in #235

[2016-02-12 00:04] #230 closed, assigned to jprupp

[2016-02-12 00:04] #221 closed, assigned to nobody

[2016-02-12 00:04] #220 closed, assigned to nobody

[2016-02-12 00:05] jprupp commented on #212
Problems with 8MB blocks.

[2016-02-12 00:05] #212 closed, assigned to jprupp

[2016-02-12 00:09] jprupp commented on #237
This is a known problem where bloom filters weren't being sent. It is fixed by #222

[2016-02-12 00:09] #237 closed, assigned to nobody

[2016-02-12 00:10] #180 closed, assigned to nobody

[2016-02-12 00:10] #191 closed, assigned to jprupp

[2016-02-12 00:12] #85 closed, assigned to nobody

[2016-02-12 00:12] #131 closed, assigned to jprupp

[2016-02-12 00:12] #182 closed, assigned to nobody

[2016-02-12 00:12] #185 closed, assigned to jprupp

[2016-02-12 00:12] #205 closed, assigned to nobody

[2016-02-12 00:12] #206 closed, assigned to nobody

[2016-02-12 00:12] #196 closed, assigned to nobody

[2016-02-12 00:12] #192 closed, assigned to jprupp

[2016-02-12 00:13] #195 closed, assigned to jprupp

[2016-02-12 00:13] #203 closed, assigned to nobody

[2016-02-12 00:16] jprupp commented on #219
Fixed in #226

[2016-02-12 00:16] #219 closed, assigned to nobody

[2016-02-12 00:16] jprupp commented on #218
Fixed in #226.

[2016-02-12 00:16] #218 closed, assigned to nobody

[2016-02-13 01:27] jprupp commented on #240
Fixed in upcoming pull request.

[2016-02-13 01:27] #240 closed, assigned to nobody

[2016-02-13 01:29] jprupp commented on #229
The answer is that it is optional whether to store private keys or not. There are no more keyrings, only accounts. You can test the code at https://github.com/xenog/haskoin.

That code also allows to specify an arbitrary derivation on an account, thereby supporting BIP-44, although the default derivation is set to m/0'.

[2016-02-13 01:29] #229 closed, assigned to nobody

[2016-02-14 17:44] tphyahoo commented on #196
In light of

https://github.com/haskoin/haskoin/pull/243 and https://github.com/haskoin/haskoin/pull/242

I'm satisfied that M/ paths are handled correctly for applyPath.

I don't think there are other functions that take M/ paths. If there are, perhaps these can be double checked for haddock+tests as well.

UPDATE: applyPath is the only function that takes ParsedPath and a key, so this looks good

[2016-02-15 17:38] tphyahoo commented on #199
Is anyone working on this?

If not I may begin.  At least I could gather test vectors from other implementations.

(I may have immediate use for this.)

[2016-02-15 17:51] tphyahoo commented on #199
Is this task merely what is described at

https://github.com/bitcoin/bips/blob/master/bip-0065.mediawiki#SPV_Clients

?

That is, just that spv clients should reject nVersion < 4 now, since bip65 has been in enforcement for some time now. (Or specifically to reject < 4  if 950 out of 1000 preceding blocks have nVersion >= 4)

[2016-02-15 17:53] tphyahoo commented on #214
Is anyone working on this?

If not I may begin (I have probable use for it).  My first move would be to wrangle bip65 test vectors from

https://github.com/petertodd/bitcoin/commit/ab0f54f38e08ee1e50ff72f801680ee84d0f1bf4 (linked from bip65 spec)

into

https://github.com/haskoin/haskoin/blob/master/haskoin-core/tests/Network/Haskoin/Transaction/Units.hs

which seems to be basically cribbed from s

[2016-02-15 19:49] tphyahoo opened #249 "Reuse JSON transaction test vectors from Bitcoin Core"
context: #214 .  Note that doing this would provide bip65 testing as a side effect.  Perhaps it would catch other problems as well.  Non-passing tests could be filtered out as temporary measure to get travis to pass, while bip65 is included in haskoin.  Also, I think haskoin is not currently including tx_invalid.json tests (just tx_valid) and I obviously adding these in would further improve test

[2016-02-15 20:06] jprupp commented on #199
Go ahead.

[2016-02-15 20:24] jprupp commented on #249
If you want to do it be my guest. A string of opcodes in the form "OP_CODE1 OP_CODE2" can be converted to the form [OP_CODE1, OP_CODE2] and then parsed with the `read` command in Haskell into a normal list. In fact. it is possible to create data type that can parse that string directly quite easily, since the `Show`/`Read` instances for opcodes can be reused for that.

[2016-02-16 01:49] tphyahoo commented on #249
More guidance would be helpful.

Once we have a string that looks like

[code]

what data type should this be read/parsed into?

Looking at the haddock for Network.Haskoin.Script I guessed perhaps

[code]

but my naive first guess doesn't seem to work.  I confess I'm a little uncertain how to proceed.  Is this the right data type (and I just need to work on parser / understanding the problem bette

[2016-02-16 02:05] tphyahoo commented on #249
Maybe this is the right track after all, I just need to work on parser.

If string starts "OP_1" instead of "1" it parses that bit, and chokes soon after, but at least it can parse something.

I guess this is the right approach then?

[2016-02-16 14:40] jprupp commented on #249
Hmm, it seems you will need to do some manual work to make that parse.

[2016-02-16 15:50] jprupp commented on #249
You would need to work on a parser as you said.

[2016-02-21 22:07] tphyahoo commented on #214
transaction tests now include failing vectors for cltv, copied from bitcoin core test suite (where the vectors pass). (from #255)

[2016-02-21 22:09] tphyahoo commented on #249
Fixed by #255.

[2016-02-25 16:28] jprupp commented on #249
Fix has been merged into master.

[2016-02-25 16:28] #249 closed, assigned to nobody

[2016-02-25 16:29] jprupp commented on #238
I have tested this in the latest code from the devel branch and it is working correctly.

[2016-02-25 16:29] #238 closed, assigned to nobody

[2016-02-26 17:21] jprupp opened #257 "Wallet requesting 500 blocks from node that is behind"
Notice how the wallet connects to various nodes, then tries to download 500 merkle blocks from a node that is lagging behind.

Wallet status:

[code]

Output:

[code]

[2016-02-27 15:06] jprupp opened #258 "Can run multiple instances simultaneously"
I can run multiple instances of `hw start` in the same directory, potentially causing data corruption. I tested with testnet (`hw -t start`).

[2016-02-27 19:15] jprupp opened #259 "Allow BIP-39 passphrase"
Recent pull request removed BIP-39 passphrases at command-line arguments. They should be now obtained from STDIN if the user typed a mnemonic sentence.

[2016-03-02 20:28] jprupp opened #267 "LevelDB opens too many files"
We need to tweak or replace LevelDB.

[2016-03-02 23:05] wraithm commented on #232
My personal opinion here is that all haskoin needs is a function to add signatures to an existing transaction, so that any haskoin independent signing procedure could be supported. Haskoin probably shouldn't support hardware wallets directly. That could be implemented as a separate library for each hardware vendor (ie. `haskoin-trezor`, `haskoin-ledger`, etc). Right now, adding signatures to an un

[2016-03-02 23:14] wraithm commented on #232
Maybe just a simple wrapper function for `buildInput` would be all that's necessary.

[2016-03-03 05:48] tphyahoo commented on #232
WraithM, re potential wrapper function: just some breadcrumbs for future follow-up.

getOfflineTxData gets signable data from wallet database (including inputs).  This is used in the guts of cmdGetOffline, which is how haskoin wallet fetches the inputs for siging offline transactions.  cmdSignOffline performs the signatures, with data produced from cmdGetOffline.

[code]

I'm not sure if the input

[2016-03-03 06:38] tphyahoo commented on #232
Also, if the inputs to be signed CAN be derived from a transaction, it would seem better if

 cmdSignOffline merely used the data from a Tx to do the signature, rather than a Tx plus a bunch of inputs, which is what it seems to be doing now. (Increases purity).

[code]

That is to say, datStr should be eliminated from the above function if possible.  And if it can't be eliminated, I guess a databa

[2016-03-03 07:50] tphyahoo opened #269 "encodeTxInJs: should this report error conditions if decoding fails?"
[code]

Shouldn't sp and decoded above result in error "some message" if decoding fails?

[2016-03-06 21:48] jprupp commented on #269
You are right, I think if there was a decoding error, it should just attempt to encode `Nothing` in JSON which will result in `null`, which is more indicative of a problem. Then the JSON field `script` should be generated with `encodeScriptJSON <$> sp` so as to use `(<$>)` from `Applicative Maybe`.

[2016-03-07 18:04] jprupp commented on #232
I'm working on changes to move the whole signing process to the client. I'll remove all traffic of privileged data from the database. There will be no master private key associated with accounts in the database, nor remote calls that can perform signatures or generate private keys server-side.

The idea behind it is that the client is now fully responsible for managing keys, or for delegating key

[2016-03-07 18:08] wraithm commented on #232
Thanks @xenog! You still need to expose some sort of access to `buildInput` in haskoin-core, right? What's that going to look like? In [my commit](https://github.com/WraithM/haskoin/commit/566d3ddf82dca284a68c103fca6cb6c63e4e466b), I simply added `buildInput` to the module exports for `Network.Haskoin.Transaction`, and that solved my problem.

[2016-03-21 09:27] jprupp opened #270 "A thread dies and the application continues"
Sometimes two CTRL+C presses are required.

[2016-03-22 17:27] jprupp commented on #270
Fixed in pull request #271

[2016-03-22 17:38] jprupp commented on #267
Fixed by pull request #271

[2016-03-23 01:56] jprupp opened #272 "Transactions fail to get confirmed"
There are cases where a new block arrives that should confirm an existing transaction but it doesn't. The problem occurs in the faucet. A rescan is needed to make the transaction show up.

[2016-04-03 22:17] #267 closed, assigned to jprupp

[2016-04-03 22:18] jprupp commented on #272
Have not managed to reproduce.

[2016-04-03 22:18] #272 closed, assigned to jprupp

[2016-04-03 22:18] #270 closed, assigned to jprupp

[2016-04-14 23:01] jprupp opened #275 "Multiple outputs don't count for fee calculation"

[2016-04-15 12:11] jprupp opened #276 "Performance unacceptable with multiple coins"
When a single transaction contains multiple coins, such as 709893a2a55553bcd5b76ad44cf30c35abee67be66e972fbc01a7ce5f8d02a5a in Testnet3, wallet performance is unacceptably low.

[2016-04-16 19:23] jprupp commented on #276
Significantly improved by encoding some transaction fields as binary.

[2016-04-16 19:23] #276 closed, assigned to jprupp

[2016-04-23 17:42] crockeea opened #277 "Hackage Documentation"
The documentation for haskoin-core, haskoin-wallet, and haskoin-node failed to build on Hackage. Please manually upload documentation.

[2016-04-23 17:43] jprupp commented on #277
Thank you, I'll deal with it with the next release.

[2016-05-14 10:41] runeksvendsen opened #279 "Please upload haskoin-core 0.3.0 to Hackage"
Hello there, and thank you for making haskoin.

Would it be possible to have v0.3.0 of at least haskoin-core uploaded to Hackage?

And, if possible, in addition add haskoin-core to [Stackage](https://www.stackage.org/)?. If you don't want to be listed as maintainer, I'm volunteering. I've worked quite a bit with haskoin-core, and I don't mind being the contact if you'd prefer not to. I would just

[2016-05-14 18:29] jprupp commented on #279
Good suggestion, I'll get on with it.

[2016-05-14 20:22] runeksvendsen commented on #279
Fantastic! Thank you very much.

Good suggestion, I'll get on with it.

[2016-05-19 07:23] jprupp opened #280 "Empty BlockChainAction"
I'm not sure what happened. Noticed that as I restarted the daemon, it picked up fine:

[code]

[2016-06-04 16:49] runeksvendsen commented on #279
Hi there

I don't mean to rush you, but what is the status on this issue?

I would love for Hackage to be able to build my package and the documentation for it: https://hackage.haskell.org/package/bitcoin-payment-channel-0.1.1.0/reports/1

[2016-06-05 10:52] jprupp commented on #279
Done. ;)

[2016-06-05 10:52] #279 closed, assigned to jprupp

[2016-06-05 12:51] jprupp commented on #280
Possibly related to a fixed bug in the block header downloader.

[2016-06-05 12:52] jprupp commented on #257
Possibly related to a fixed bug in the header tree download code.

[2016-06-05 12:52] #257 closed, assigned to nobody

[2016-06-06 12:22] jprupp commented on #280
Reopening because not fixed yet.

[2016-06-07 17:13] runeksvendsen commented on #279
Wonderful! Thanks a lot :).

[2016-07-05 11:42] jprupp commented on #280
There was an issue when the blockchain was pruned. It is fixed in master.

[2016-07-05 11:42] #280 closed, assigned to nobody

[2016-07-05 11:54] jprupp opened #283 "Support for Bitcoin message signatures"
Bitcoin has a standard mechanism for signing messages such that a public key recovery parameter and compression hint are stored with the signature. Haskoin should support these standard message signatures, which allow to trivially check if a message was signed with a public key that hashes to a particular address.

[2016-07-12 21:31] jprupp opened #284 "Decoding transaction address has wrong field label"
When decoding a transaction, address is displayed in hex (base16) and base58 formats. The label for the base16 form is shown incorrectly as base64.

[2016-08-04 09:05] snoyberg opened #285 "Test suite failure"
Full test output from Stackage build server:

<details>

tests/Network/Haskoin/Transaction/Units.hs:84:33: warning: [-Wunused-matches]
    Defined but not used: ‘description’

tests/Network/Haskoin/Transaction/Units.hs:94:26: warning: [-Wunused-matches]
    Defined but not used: ‘e’

tests/Network/Haskoin/Transaction/Units.hs:135:23: warning: [-Wunused-top-binds]
    Defined but not used: ‘satCore

[2016-08-22 14:26] peti opened #286 "haskoin-core-0.3.1 does not compile"
We cannot build haskoin-core-0.3.1 in openSUSE Linux because of the following error:

[code]

This looks like an incomplete release archive?

[2016-08-24 09:58] peti commented on #286
The problem is that your `Setup.hs` file is wrong, i.e. it tries to run an autoconf build which your package doesn't actually use. That file should look as follows:

[code]

[2016-08-24 20:53] jprupp commented on #286
Thank you very much for finding this solution. I will upload a new version with this change that you have suggested.

[2016-08-25 16:56] jprupp commented on #286
Fixed in commit bdbfacb581b67531cfc32be61db1c97d82e2e194.

[2016-08-25 16:56] #286 closed, assigned to jprupp

[2016-08-28 19:56] bergmark commented on #285
The test-suite for this package has been disabled in stackage because of this issue. When a fix is published to hackage could you please send a PR to re-enable the tests to stackage (it's in the expected-test-failures section) or ping me?

Thanks!

[2016-08-31 10:30] jprupp commented on #285
Thank you, will do.

[2016-09-07 22:30] jprupp commented on #285
Haskoin version 0.4.0 has been released. This issue has been solved there.

[2016-09-07 22:30] #285 closed, assigned to jprupp

[2016-09-18 08:00] runeksvendsen opened #287 "OP_PUSHDATA "" OPCODE == OP_0 should be True"
`OP_PUSHDATA "" OPCODE` and `OP_0` are two different representations of the same thing: a push of an empty byte vector. In the case of `OP_PUSHDATA "" OPCODE` this is obvious (it clearly describes a push of an empty byte string), and in ine [Bitcoin wiki](https://en.bitcoin.it/wiki/Script#Constants) we can see that this is also how `OP_0` is defined.

The non-equality of these two different, but l

[2016-09-20 13:55] m0dev76 commented on #287
Hi, thanks for reporting the bug. I can replicate it as follows:

[code]

We're still discussing the best way of solving it. It is a case where the `decode . encode == id` property is being violated. We'll keep you updated.

[2016-10-08 21:34] hudon opened #289 "Add support for non-standard P2SH redeem scripts"
I'd like Haskoin to support the building of transactions with non-standard redeem scripts in the inputs (since Bitcoin Core 0.10, rules around redeem scripts have been mostly removed and non-standard redeem scripts now get relayed correctly).

The issue is `type RedeemScript = ScriptOutput` and how `ScriptOutput` is documented as "describing standard transaction".

I feel like `type RedeemScript =

[2016-10-08 21:54] hudon commented on #289
ah I think the biggest problem will be `sigKeys` which is used in `signTx` as it guesses which keys sign the input given the output we're spending. But if it's arbitrarily non-standard, we can't simply guess the key and should expect instead to be given the requirements

[2016-10-10 09:02] runeksvendsen opened #290 "haskoin-wallet: Support for arbitrary watch-only addresses"
Hi there

I'm planning on using haskoin-wallet for a backend service in a Bitcoin app, and in this particular app, the relevant Bitcoin addresses (which I would like to know the balances of) are not derived from the server's private key alone, but rather from a [`CHECKLOCKTIMEVERIFY`-style redeemScript](https://github.com/bitcoin/bips/blob/master/bip-0065.mediawiki#Twofactor_wallets) which contain

[2016-10-12 16:44] jprupp commented on #290
Hello Rune,

There is no way to do this at the moment. Only regular and P2SH multi-signature addresses are currently supported. Patch would be nice.

Good luck!

[2016-10-13 11:32] jprupp commented on #289
Some rewriting of things may be in order to support this. You may want to submit a patch. ;)

[2016-10-13 15:10] runeksvendsen commented on #290
Hello

Alright, I'm strongly considering going ahead and implementing this.

I'm thinking the way to do it is to introduce a new "watch-only" account type, and also a new `addaddr` command, which allows adding arbitrary addresses to this watch-only account.

How would you recommend implementing this? As far as I can see, the only thing that would need to change for the `Account` type is that the `

[2016-10-13 15:15] runeksvendsen commented on #290
Oh, wait, is `accountKeys` for multi-sig pubkeys? In that case, putting watch-only addresses in there doesn't seem appropriate at all. Anyway, you probably have a better overview of the code base, so I will await your advice.

[2016-10-13 15:30] runeksvendsen commented on #290
We could also add an `accountWatchAddr :: [Address]` field to the `Account` type, such that we don't introduce a new account type, but just give watch-only functionality to the existing account types.

That way, we wouldn't be changing the existing logic for accounts. So, when constructing the Bloom filter for the node, we just add the regular wallet addresses as we always do, and then add the wat

[2016-10-15 19:43] jprupp commented on #290
I would have to read the `haskoin-wallet` code to acquaint myself with it again in order to be able to give you any specific advise. I will try to get you as much help as I can without doing that for now.

There are some assumptions that were made when the wallet was written. Some of those assumptions are that addresses are always generated from one or more extended public keys following the tree

[2016-10-18 03:33] hudon commented on #289
yea I tried but it changes way too many modules so I ended up writing a `signTx` for my specific case... it's probably better this way

[2016-10-18 03:33] #289 closed, assigned to nobody

[2016-10-23 12:23] runeksvendsen commented on #290
Alright, so I've had the chance to look more at the code, and, for now at least, I've decided against implementing this. It looks, to me at least, to be a relatively complex change, so I've settled for querying the P2SH addresses in a different way.

The whole issue of **1)** how to specify the parameters (pubkeys, CLTV timestamps etc.) required to construct P2SH redeemScripts and **2)** how to co

[2016-10-23 15:14] runeksvendsen opened #292 "XPubKey, compressed public keys & 'verifySig'"
So, `Network.Haskoin.Crypto.verifySig` takes a `Network.Haskoin.Crypto.PubKey` to verify a signature, and I can derive both an uncompressed and a compressed pubkey from a `PubKey`. But, as far as I can see, there's no way to convert from a `PubKeyC` or `PubKeyU` to a generic `PubKey` (which is required for eg. signature verification).

A `Network.Haskoin.Crypto.XPubKey` contains only a `PubKeyC`,

[2016-10-23 15:29] runeksvendsen commented on #292
Scratch all that conversion stuff. It was all just a matter of changing the type of `verifySig` to take a `PubKeyI c` rather than a `PubKey`. See my pull request.

[2016-10-23 15:29] #292 closed, assigned to nobody

[2016-10-26 16:24] jprupp commented on #290
That EDSL system for Bitcoin seems like an interesting proposition. I'd love to see it happen.

[2016-10-26 16:26] runeksvendsen commented on #290
Indeed! I'm afraid I don't have the skill, Haskell-wise, to make it happen though. At least not at this time. But it would be pretty cool.

[2016-10-28 04:31] runeksvendsen commented on #290
I changed my mind. Watch-only functionality is too awesome not to have, so I've started implementing it. It's working now:

[code]

But it still needs more work. The change is quite a lot bigger than my previous commits, although it mostly constitutes separating out the Bloom stuff from `Network.Haskoing.Wallet.Accounts` and creating a new account type -- `WatchAccount` -- in which I put a new typ

[2016-11-03 12:15] jprupp commented on #290
That's great!

I am currently too busy with segwit-related stuff at work to help you out at the moment. Perhaps after the rollout of segwit in production I can be of more assistance. I hope you nail it. It is fun to refactor code in Haskell, mainly because it is very easy.

Cheers!

[2016-11-07 05:49] runeksvendsen commented on #287
I should note that we will experience the same thing when we rename `OP_NOP2` to `OP_CHECKLOCKTIMEVERIFY`, as per BIP65.

I think the right way to do this would be to introduce `OP_CHECKLOCKTIMEVERIFY` alongside `OP_NOP2`, thus keeping `OP_NOP2`for backwards compatibility, but simply define that `OP_NOP2 == OP_CHECKLOCKTIMEVERIFY`, and also deserialize this opcode into `OP_CHECKLOCKTIMEVERIFY`, ra

[2016-12-27 11:07] jprupp commented on #287
I think you are right. If you want, create these custom `Eq` instances. I'll merge your code.

[2017-01-27 21:56] wraithm commented on #232
@xenog, It doesn't seem to be possible to modify inputs of an existing transaction any more because `Tx`'s record accessors were hidden somewhere between `haskoin-core-0.3` and `0.4`. I could modify my hardware signature function to deconstruct the `Tx` via `txIn` and `txOut` then reconstruct the `Tx` via `createTx`. Just out of curiosity, why did you remove the `Tx` type's record accessors?

[2017-01-30 13:10] jprupp commented on #232
For performance reasons now the transaction hash is stored as [one of the data elements](https://github.com/haskoin/haskoin/blob/master/haskoin-core/Network/Haskoin/Transaction/Types.hs#L136). Replacing a field directly in a transaction would lead to an invalid data structure if the hash is not recomputed as well. That is why you are now forced to use the constructor function.

[2017-01-31 19:10] wraithm commented on #232
Thanks! That makes a lot of sense.

[2017-02-24 10:12] peti opened #295 "Please support recent versions of QuickCheck and aeson"
openSUSE distributes your package, but recently it stopped compiling becase we've updated to the Stackage LTS 8.x package set, which causes the following issue during "configure":

[code]

[2017-02-24 10:43] runeksvendsen commented on #295
Could you try building `master`, and see if that fixes it? As far as I can see, the update I did to LTS 7.18 should make it work for 8.x as well.

[2017-02-24 10:47] peti commented on #295
I edited the `resolver` field in `stack.yaml` to `8.2` and ran `stack build haskoin-core` with the following outcome:

[code]

[2017-02-24 10:51] peti commented on #295
OK, these changes made the build succeed:

[code]

[2017-02-24 11:45] runeksvendsen commented on #295
Great!

When I need to build for lts-7.18, I also need to change `murmur3` to 1.0.3, and add some other package, that is not needed for 6.13. It would be nice if Stack had some way to specify these things as a config option, rather than having to edit `stack.yaml` manually for the purpose. But as far as I know this is not the case.

So, for anyone ending up here from a Google search:

* To build w

[2017-02-27 14:57] peti commented on #295
Will you release a new version that remedies the issue with QuickCheck and aeson versions?

[2017-03-02 21:24] runeksvendsen commented on #295
@plaprade @xenog Could one of you guys take a look at this? I don't have Hackage access for haskoin. Perhaps it's time for 0.4.1?

[2017-03-03 13:44] jprupp commented on #295
I will take a look over the weekend. I made you release manager in hackage for _haskoin-core_, _haskoin-node_ and _haskoin-wallet_.

[2017-03-23 00:11] wyager commented on #295
Ditto here, I'm getting the following with lts-8.5:

[code]

`stack solver` seems to find a functional build plan on its second try, but it'd be better to get Haskoin-core back in the LTS solvers.

[2017-03-23 16:13] runeksvendsen commented on #295
@xenog After pull request #297 is merged, the master branch should be ready for a 0.4.1 release. I will wait a week -- unless I hear from you before then, telling me to either go ahead or wait a bit --  until merging #297, after which I will release this as haskoin-{core,node,wallet} 0.4.1.

Also, I would like to add both haskoin-node and haskoin-wallet to Stackage, in addition to haskoin-core. Wh

[2017-03-29 10:50] jprupp opened #298 "Possible double-spend in wallet"
This double-spend has been produced by the [Testnet Faucet](http://faucet.haskoin.com/) running the Haskoin Wallet:

https://live.blockcypher.com/btc-testnet/tx/4a6e1e5fd4d93ad5730f34d9d8de14455d79322511f244d9fbe5b9ce7f3833f0/
https://live.blockcypher.com/btc-testnet/tx/4a6e1e5fd4d93ad5730f34d9d8de14455d79322511f244d9fbe5b9ce7f3833f0/

[2017-03-30 09:30] runeksvendsen commented on #298
Looks like the two links are to the same transaction, and this transaction didn't make it into a block (I get a 404). Please share the link to the other transaction (which, presumably, made it into a block).

[2017-03-30 12:17] GildedHonour opened #299 "Communicating with Bitcoin Core/RPC"
I run the full bitcoin node on a server and I want to create a web interface for it in haskell. Perphans only via REST API, but it doesn't matter. In this way, I want to be able to communicate with the bitcoin core/full node via RPC using Haskell. Do I understand correctly that this library -- haskoin -- won't allow me to do that?

[2017-03-30 12:23] GildedHonour commented on #299
If so, what Haskell client for Core/RPC will you recommend me? I can't find any which is more or less up to date and complete.

[2017-03-30 12:43] runeksvendsen commented on #299
Hello sir

You are correct, Haskoin is an implementation of the Bitcoin protocol - just like Bitcoin Core. So it's an alternative to Bitcoin Core, rather than a way to communicate with it.

However, I have a fork of the `bitcoin-api` package (https://github.com/runeksvendsen/haskell-bitcoin-api) which adds a number of supported RPC calls, plus fixes exception handling. It should be fairly easy for

[2017-03-30 13:11] GildedHonour commented on #299
Are you working on https://github.com/runeksvendsen/haskell-bitcoin-api? Or should I fork it and continue doing what hasn't been done yet?

[2017-03-30 13:21] runeksvendsen commented on #299
Yes, that fork of mine is active. Please fork my fork, build your work on top of that, and submit pull requests back to me.

In the meantime, I will write an email to Hackage and the original author, asking whether I can take over as maintainer of this package, so the code doesn't have to live on just GitHub.

[2017-04-02 13:17] GildedHonour commented on #299
How about if I fork it and take it over?

[2017-04-02 16:38] runeksvendsen commented on #299
Hi Alex

Thank you for reminding me about this, I had forgotten to get back to you. I've spoken with @solatis, and he gave me push access to his repo, so I've merged my changes, and you should fork from there (although the two repos are now the same, so it shouldn't matter where you fork from).

[2017-04-04 05:44] GildedHonour commented on #299
@runeksvendsen thx.
I'll change it quite a bit, specifically formatting, as well as add new methonds and other stuff, therefore I'll create a new repository and will mention that it's based on your code.

[2017-04-04 08:58] runeksvendsen commented on #299
@GildedHonour Great! I completely agree that it's ripe for a rewrite, so I'm happy to hear you're up for the task. I look forward to seeing what comes out of it.

[2017-04-08 23:03] wyager opened #300 "Strange memory behavior with Address' underlying ByteString"
This one is a bit of a head-scratcher for me.

I'm trying to build up a big in-memory database of addresses derived from an XPubKey. Originally I was converting to a ByteString for use with a Trie, but I noticed that memory consumption was a *lot* higher than it should be. I did some more tests and it looks like each Address is using around 4kB (!!!) to store the underlying ByteString.

Here's som

[2017-05-04 12:48] jprupp commented on #300
I am not sure what the problem may be here, but it seems to be about optimising performance, and not a real problem in the code. Unfortunately I am not so familiar with low-level GHC stuff. Feel free to ask around those circles. They may be able to give you the insights you are looking for. I will close this ticket for now, but feel free to respond to it if you find what may be going on.

[2017-05-04 12:48] #300 closed, assigned to jprupp

[2017-05-04 12:52] jprupp commented on #299
I will close this ticket. Reopen if you wish to continue this discussion here.

[2017-05-04 12:52] #299 closed, assigned to nobody

[2017-05-04 12:53] jprupp commented on #298
Damn, I made a mistake. Doesn't matter. If it shows up again I'll reopen this ticket. The wallet will be rewritten anyway.

[2017-05-04 12:53] #298 closed, assigned to nobody

[2017-05-04 13:00] jprupp commented on #295
Changes have been uploaded and a new version released as 0.4.2. Use your email address Rune as Stackage maintainer. Alternatively use my email xenog@protonmail.com.

[2017-05-04 13:00] #295 closed, assigned to nobody

[2017-05-04 13:10] jprupp commented on #287
Thinking about this a little more I think there is an issue between `OP_PUSHDATA ""` and `OP_0`. The issue is that the binary representations of these two different operations is not equal, therefore having two scripts containing these two instructions will yield a different hash. Although `OP_0` is the minimal representation, there are various ways to push an empty string into the stack. When com

[2017-05-04 21:24] jprupp commented on #277
Done.

[2017-05-04 21:24] #277 closed, assigned to jprupp

[2017-06-28 09:02] ysangkok commented on #290
@runeksvendsen what happened? Why not merge it?

[2017-06-28 10:34] runeksvendsen commented on #290
@ysangkok The code never reached a quality I was happy with. In the end I realized that the right way to do it would be to abstract over the `Account` type with a type class, and define wallet operations on that type class, such that code can be shared with other account types. I ended up having two different account types (the standard `Account` and the watch-only account), and most of the operat

[2017-08-16 14:29] jprupp opened #307 "Improve handling of command-line arguments for executables"
Instead of having only global options and command-specific arguments, we can have both global options and command-specific options as well as arguments, in a way similar to the `git` command.

[2017-08-23 20:54] jprupp opened #313 "Coinbase transactions are dead"
A coinbase transaction is displayed as dead in some cases, even with multiple confirmations. Check faucet database for more information.

[2017-08-25 07:41] jprupp commented on #313
Fixed by #314

[2017-08-25 07:41] #313 closed, assigned to m0dev76

[2017-08-25 07:42] jprupp opened #315 "Transaction list not ordered by confirmations"
Some coinbase transactions are missing from the wallet, even when the blocks that contain them have been processed.

[2017-08-25 10:19] jprupp commented on #315
In reality all coinbases are processed and they make it into the database and can be retrieved with the `txs` function, but the output of this function is not ordering by confirmations.

[2017-08-25 16:37] jprupp opened #316 "Some transactions not visible"
I mined transaction `d59a1bc32547f76f9b4ca26e6c39c42f22b4056b0f9eebfa055cb93eae4f14c3` in block `0000000025c00c1d9f287b109d858b1961fb90b989c16124cc48d7d26f44e41b` on Testnet5, but transaction does not appear to be in wallet:

[code]

[2017-08-31 09:17] afk11 opened #319 "Bech32 & segwit address support"
I've been reviewing for common libraries that may not yet have segwit address support. I haven't seen anyone work on it here yet, please add this soon!

https://github.com/bitcoin/bips/blob/master/bip-0173.mediawiki

[2017-08-31 13:25] jprupp commented on #319
Hey @afk11!

I did it in bitcoinJ already! I'll do it here eventually.

Cheers!

[2017-09-15 10:59] t4sk opened #322 "BIP0144 How to handle deserialization of transaction with 0 input?"
Should de-serialization of a transaction with 0 input, not in the extended format, fail?

For example should `00000000000000000000` this be interpreted as:
1. transaction with 0 input and 0 output
or
2. transaction in extended format with an invalid flag of `0x00`?

Here is the code that I have so far. It will deserialize `00000000000000000000` as a transaction with an invalid flag

[code]

[2017-09-18 08:51] t4sk commented on #322
I was able to resolve this by de-serializing with the extended format and if that fails, deserialize with the base format.

[code]

[2017-09-18 08:51] #322 closed, assigned to nobody

[2017-11-09 11:54] jprupp opened #327 "Add dependency to automake to README"
Add a dependency to `automake` to README file.

[2018-01-03 00:48] cies opened #339 "Old (?) repo give bad impression"
I looked at this:

https://github.com/MichaelBurge/haskoin

And luckily thought, "Haskoin is quite an alive project, how come so quiet here?" Then found this repo.

I think the old repo should be referring peeps here (in the README and/or the GH project description).

[2018-01-03 11:23] runeksvendsen commented on #339
Hi there

The repo you mention is not an old Haskoin repo, but rather a repo created recently, related to the following blog post about a generic blockchain data structure: http://www.michaelburge.us/2017/08/17/rolling-your-own-blockchain.html

If you’re confused about two different projects both using the “Haskoin” name, I think it would make sense to notify @MichaelBurge, to let him know the cho

[2018-01-03 12:16] cies commented on #339
Sorry I was unaware of this. I'll give him a heads-up.

On Wed, Jan 3, 2018 at 12:23 PM, Rune K. Svendsen <notifications@github.com>
wrote:

[2018-01-25 05:57] ssadler commented on #287
It doesn't seem so crazy that `encode` is a lossy operation in this case, maybe the best thing to do is remove the expectation. For example, would you expect JSON or really any programming syntax to retain this property given stylistic flexibility such as whitespace and unnecessary parenthesis?

Cheeky option: remove `Binary` instance, such that `decode . encode == id` is no longer an issue!

[2018-01-26 15:37] ubamnow404 opened #346 "Windows build compatibility?"
I try to use haskoin on windows with ghc 8.0.2. secp256k1 asks for automake, and fails when it's missing:

[code]

Automake not available for windows, maybe with cygwin? But I hope to stay with regular cmd.exe for now.

Do anyone build haskoin on windows? If yes, how?

[2018-01-26 23:14] #339 closed, assigned to nobody

[2018-01-29 12:46] jprupp opened #347 "Name resolution crashes software on MacOS X"
On @xenog fork:

This error was seen on MacOS X (copied from a terminal screenshot):

[code]

The only code that uses that function is:

[code]

This code is not supposed to let any exceptions bubble up thanks to the `catch` that captures `SomeException`.

[2018-04-23 20:46] ProofOfKeags opened #350 "Upgrade to most recent resolver set to most recent (11.5)"
The last version of this package that was uploaded to hackage requires resolver set 8.13, which is 3 major versions ago. Can we get a new version up on hackage with 11.5? I'd be willing to take this on.

[2018-04-24 15:20] ovangle opened #351 "Remove dependency on deprecated cryptohash library."
Hey, first of all thanks for the great work on the library, although I'm currently working from a local package install to get it working with 8.4.1... I had to widen constraints on `either` and `entropy` libraries in order to not get dependency conflicts with `base`.

Y'anyway... would it be possible to replace the SHA* and RIPEMD hashes with ones from cryptonite?

[2018-04-25 14:43] jprupp commented on #351
Yes, this is being done at the moment on my personal development branch as well as @plaprade's. It will be merged once it is ready and sufficiently tested.

[2018-05-29 12:25] ysangkok commented on #319
ping @xenog , are you still planning on this?

[2018-05-30 10:19] jprupp commented on #319
Eventually, unless somebody sends a pull request.

[2018-07-04 17:13] charlescrain opened #353 "makeXPrvKey exception due to `getNetwork`"
Hello,

I'm new to this library and playing with some of the crypto from `haskcoin/core`.

I am curious why `makeXPrvKey` is calling the `getNetwork` function. As far as I understand, the function is pure  and only performs the necessary crypto to build the Extended Key. From the error posted below it appears to need an IO reference to a network. I've done my best to locate where `getNetwork` is c

[2018-07-04 17:25] sha49 commented on #353
I think you are missing to set the network that you will use. (bitcoin, bch, testnet... ?) This will have effects on how you serialise keys, addresses etc.. this is probably why is required.

[2018-07-04 17:36] sha49 commented on #353
Try calling any of these guys on your main before you start doing anything.

https://github.com/haskoin/haskoin/blob/b80099c0a5ef96fc85d27beaaf81a2ee111803c2/haskoin-core/src/Network/Haskoin/Constants.hs#L80-L90

[2018-07-04 18:01] charlescrain commented on #353
@sha49 Thanks for the suggestion I had tried that but I have a feeling that since I'm using the repl it wasn't working. Thanks for the advice

[2018-07-04 18:12] charlescrain commented on #353
I'm curious why this IO reference for the Network is used. Seems confusing to have a hidden dependency in functions such as `makeXPrvKey`. If there has been any discussion around this would appreciate being pointed in the right direction. Thanks!

[2018-07-04 20:00] runeksvendsen commented on #353
@charlescrain I didn't write the code, so I can't say for sure, but I assume this design choice was made because applications rarely (if ever) need to mix different network types. E.g. a wallet is either run on `testnet` or on `prodnet`, but not both at the same time. If using different networks at the same time were useful, a monad probably would have made more sense (as @sha49 mentions, the `Net

[2018-07-05 13:45] charlescrain commented on #353
@runeksvendsen Thanks!

[2018-07-05 13:45] #353 closed, assigned to nobody

[2018-07-05 13:56] charlescrain commented on #353
Found more details here: https://github.com/bitcoin/bips/blob/master/bip-0032.mediawiki#Serialization_format

[2018-07-12 11:16] jprupp commented on #353
Hello,

At some point at the beginning, when writing the Haskoin library, we had these functions that took the network as an argument. Pretty much every function at this point needed this argument. We changed everything to use a reader monad where the network was implicit, but made using the library more complicated than when passing the parameter explicitly. We needed another approach.

Since the

[2018-08-08 10:36] #351 closed, assigned to nobody

[2018-08-08 10:37] jprupp commented on #350
There are some big changes coming. I'll close this issue because when merging the new batch of code this problem will be solved.

[2018-08-08 10:37] #350 closed, assigned to nobody

[2018-08-08 10:37] jprupp commented on #347
I could not reproduce in latest build.

[2018-08-08 10:37] #347 closed, assigned to jprupp

[2018-08-08 10:38] jprupp commented on #327
Don't need a bug report for this.

[2018-08-08 10:38] #327 closed, assigned to jprupp

[2018-08-08 10:38] jprupp commented on #316
Wallet is getting deprecated. Closing.

[2018-08-08 10:38] #316 closed, assigned to nobody

[2018-08-08 10:39] jprupp commented on #346
As nobody answered, I will close this. If somebody does testing in Windows and manages to make it work, I'll accept any pull requests on the next version.

[2018-08-08 10:39] #346 closed, assigned to nobody

[2018-08-08 10:40] jprupp commented on #315
Old wallet will be deprecated.

[2018-08-08 10:40] #315 closed, assigned to nobody

[2018-08-08 10:40] jprupp commented on #307
Old wallet being deprecated. New wallet has different way to handle this.

[2018-08-08 10:40] #307 closed, assigned to nobody

[2018-08-08 10:41] jprupp commented on #290
Old wallet is is being deprecated. Closing.

[2018-08-08 10:41] #290 closed, assigned to nobody

[2018-08-08 10:43] jprupp commented on #287
To continue commenting on this, perhaps there should be a test for truthiness for script tokens. If anyone has a strong opinion on this, and would like to submit pull request against `haskoin-core`, we can review and merge that. For now I'll consider this not to be a bug and close.

[2018-08-08 10:43] #287 closed, assigned to jprupp

[2018-08-08 10:44] jprupp commented on #284
This code is changing. I don't think this is a problem anymore.

[2018-08-08 10:44] #284 closed, assigned to jprupp

[2018-08-08 10:44] jprupp commented on #275
This affects the old wallet, which is being deprecated.

[2018-08-08 10:44] #275 closed, assigned to jprupp

[2018-08-08 10:44] jprupp commented on #258
Old wallet is being deprecated.

[2018-08-08 10:44] #258 closed, assigned to nobody

[2018-08-08 10:45] jprupp commented on #269
Old wallet is being deprecated.

[2018-08-08 10:45] #269 closed, assigned to jprupp

[2018-08-08 10:45] jprupp commented on #215
Old wallet being deprecated.

[2018-08-08 10:45] #215 closed, assigned to nobody

[2018-08-08 10:45] jprupp commented on #259
Old wallet being deprecated.

[2018-08-08 10:45] #259 closed, assigned to nobody

[2018-08-08 10:46] jprupp commented on #199
Old wallet is being deprecated. Perhaps this will be relevant for the new node code. I'll close for now.

[2018-08-08 10:46] #199 closed, assigned to nobody

[2018-08-08 10:48] jprupp commented on #214
Script interpreter code is outdated. Work needs to be done update it or remove it from `haskoin-core`. I'll close this bug because it is just one part of changes that should be done to the script interpreter.

[2018-08-08 10:48] #214 closed, assigned to nobody

[2018-08-08 10:49] jprupp commented on #232
I'll close this for now. The old wallet is being deprecated.

[2018-08-08 10:49] #232 closed, assigned to nobody

[2018-08-08 10:49] jprupp commented on #233
Old wallet being deprecated.

[2018-08-08 10:49] #233 closed, assigned to nobody

[2018-08-24 10:59] jprupp commented on #227
Some of the work has been done. Some remains to be done, but this enhancement is already under way.

[2018-08-24 10:59] #227 closed, assigned to nobody

[2018-08-24 11:00] jprupp commented on #319
Work is in progress. Some of the SegWit support already landed.

[2018-08-24 11:00] #319 closed, assigned to nobody

[2018-08-29 10:03] jprupp commented on #283
I will not work on this for the time being. If somebody wants to take this on, then good. I'll close for now. It's the last issue that was open.

[2018-08-29 10:03] #283 closed, assigned to jprupp

[2018-09-04 21:18] wraithm opened #358 "Using Text instead of ByteString for human readable strings"
I love the work that's going into haskoin-core 1.0.0! This is amazing. My only complaint is that functions like `txHashToHex :: TxHash -> ByteString` and `addrToString :: Address -> Maybe ByteString` use implicitly utf8-encoded `ByteString`s instead of `Text`. I end up using wrappers around these functions in my code. It would be nice if those functions just did `Text` directly because they're exp

[2018-09-05 18:13] wraithm commented on #358
@xenog @plaprade

[2018-09-06 10:12] jprupp commented on #358
The reason I used `ByteString` for addresses and hex-encoded strings is that they comprise only characters that fit in an eight-bit word (low Unicode). It is thus wasteful to use `Text` or `[Char]`, as those take up at least twice as much memory (16 or 32 bits) to represent every single character, plus the required overhead of convertion when needed.

I was trying to optimise the code as much as I

[2018-09-06 15:13] wraithm commented on #358
I'd be happy to make a PR for it.

[2018-09-06 15:27] wraithm commented on #358
@xenog I just tried to clone `haskoin-core` to build, and I got this error on building `secp256k1`:

[code]

Do I need to have the C library `secp256k1` installed globally to use `haskoin-core`? What do you do for your dev setup?

[2018-09-06 15:32] sha49 commented on #358
I faced the same issues today.

Yes, secp256k1 C is a dependency of haskoin core. So, you can clone the repo https://github.com/bitcoin-core/secp256k1 and follow the build steps or you can install `nix` on your machine and then run `stack --nix install` and then the dependencies will be set locally by nix.

[2018-09-06 15:36] wraithm commented on #358
So, `nix` is essentially a dependency of the new `haskoin-core` via `secp256k1`... That's a big change! I don't use `nix`.

[2018-09-06 15:38] wraithm commented on #358
Why the change? The cabal bundling of the C code from before worked great.

[2018-09-06 15:38] sha49 commented on #358
Well, it is not mandatory. You either handle the dependencies at your own, like installing secp256k1 by yourself or you use nix. Until now you were responsible for each dependency. Now you have the option to have only nix as dependency and it will get the rest of needed stuff. Both ways are working.

[2018-09-06 15:41] wraithm commented on #358
I mean, isn't that somewhat dangerous? What if my local version of `secp256k1` doesn't match with the haskell library? Before, we were pinning a specific version to a hackage release, right? Like, the C lib came with the hackage bundle. Having the versions potentially get out of sync is worrisome to me.

[2018-09-06 15:45] sha49 commented on #358
I think nix is building a specific version too

https://github.com/haskoin/haskoin-core/blob/master/stack.yaml

but @xenog will explain better his reasons :D

[2018-09-06 16:47] jprupp commented on #358
The bundling of the C code from the upstream `secp256k1` library into the Haskell bindings was clumsy at best. I decided to simplify the bindings and have them be just bindings, needing the library to be already present in the system in order to work. That is the way most bindings are written, unless the C code is so simple that Cabal can handle it gracefully.

With Nix integration you may install

[2018-09-06 20:33] jprupp commented on #358
This is a horrible hack:

https://github.com/haskoin/secp256k1-haskell/blob/f460a603fb1dd7534eb5df978790b793cca455c2/Setup.hs

I don't really understand Cabal all that well. What I tried to do there was to introduce some steps to the build process that made calls to external commands. I had issues with that code more than once, especially since Stack does not clone submodules when depending on a G

[2018-09-06 22:47] wraithm commented on #358
@xenog Thanks for your insights! Makes sense. We'll just package our own secp256k1.

[2018-09-07 11:12] #358 closed, assigned to nobody

[2018-09-08 05:30] wraithm opened #361 "FromJSON instances"
I think you did some wonderful work getting rid of the `IORef` for network! I really love this new format. However, I do think that we can get `FromJSON` instances in haskoin that aren't too bad.

I'll use `Address` as an example, but these proposals should all work for all the other types that depend on network. Here are the three options that I see that make sense:

## 1
Newtypes for network dep

[2018-09-08 23:18] jprupp commented on #361
Hello Mathew,

I think the phantom type solution is probably the most interesting of the bunch. I tried some of what you are proposing, specifically having `allNets` being used to discover the right network for an address. The main problem is with Base58 addresses. The address does not encode whether it belongs to the `btcreg` or `btctest` network, so when decoding Base58 I have to consider the te

[2018-09-10 12:34] jprupp commented on #361
Hello Matthew,

I'm having a coffee and remembered why the network cannot be part of the type: you must compile an executable or a library for a specific network only, and cannot make it work with all. That is utterly inconvenient. My previous suggestion to work on solution 3 will not be practical.

Cheers

[2018-09-10 19:13] wraithm commented on #361
Hey @xenog,

You can do dynamic network executables, it's just all of the options are a little awkward. You either have to do some pain with existential types (kind of like `SomeException` in `base`, you'd have "`SomeAddress`"), or you need an enumeration of the network options, or you pass around `Proxy`s everywhere, like this:

[code]

There are options to make the third case work, but I very mu

[2018-09-10 22:15] jprupp commented on #361
Hey Matthew,

The networks are almost completely overlapping, and if things are split into different types, lots of network-agnostic code will no longer be possible. For example the Haskoin Store has a command-line argument for choosing on which network it is to operate. The ability to choose a different network at runtime, and even work with various networks in the same executable in an agnostic

[2018-09-12 18:44] jprupp commented on #361
I will close this issue for now, as it is not something that will be fixed. Feel free to follow up with a pull request, or reopen if needed.

[2018-09-12 18:44] #361 closed, assigned to nobody

[2018-10-29 19:08] wraithm opened #362 "Partially Signed Bitcoin Transactions (PSBT / BIP-174)"
An implementation of [BIP-174](https://github.com/bitcoin/bips/blob/master/bip-0174.mediawiki) for Haskoin transactions.

I'm going to start working on an implementation for this. Any input or suggestions are welcome!

[2018-11-06 18:08] jprupp commented on #362
Thank you. It's merged now.

[2018-11-06 18:08] #362 closed, assigned to nobody

[2019-03-11 01:06] ProofOfKeags opened #371 "How can I contribute?"
I'd like to put some resources behind helping this project be taken seriously as a usable bitcoin implementation. What can I do to improve the current codebase? What features are missing?

[2019-03-11 13:54] jprupp commented on #371
Hello Captain,

The Haskoin libraries in this package lack the ability to perform full transaction validation. There was a script engine what was gutted last year because it wasn't being maintained. If someone is brave enough to work on this for all supported networks, it would be great.

Also, as simpler things go: the haskoin-node and haskoin-store packages are short on tests.

Cheers!

[2019-03-11 13:58] ProofOfKeags commented on #371
Is the script engine something that can be worked on incrementally? Ideally
I’d do it for Bitcoin first and then add the opcodes for the alts. Also
what degree of commitment are you putting where. Where are your efforts
currently focused?

[2019-03-11 15:19] jprupp commented on #371
Currently I am focused on the haskoin-store package, which has been deployed commercially. Changes are being kept to a minimum for the time being as performance warts and other bugs associated with deployment are ironed out.

Haskoin only supports the Bitcoin Core and Bitcoin Cash networks, which are very similar. The biggest discrepancy is Segregated Witness, which is a Bitcoin Core only thing. I

[2019-03-11 15:41] ProofOfKeags commented on #371
I'll go ahead an open an issue for this, and we can continue discussion
there. I would like to give it a shot but your warning of it being a lot of
work is noted.

[2019-03-11 15:45] ProofOfKeags opened #372 "Add Script Validation Engine"
One of the main barriers to getting this to be a full node implementation would be full transaction validation. The main thing missing from this is a Script Validation engine. I am opening this issue with the intention of taking this work on.

Currently I have not committed to implementing it, much less by any particular deadline, but I intend to at least scope the work before making further decis

[2019-03-11 16:05] ProofOfKeags commented on #371
Discussion can be resumed on #372

[2019-03-11 16:06] #371 closed, assigned to nobody

[2019-04-04 02:38] ProofOfKeags opened #373 "What coins are we going to commit to support?"
As I was going through what I would have to do to add a script validation engine and I was wondering what coins this project wants to support and which ones it doesn't. One of the problems I have encountered as I'm working at SALT is that abstracting over multiple currencies is tough. And the more we want to abstract over them the less likely we'll be able to keep up with any one of them especiall

[2019-04-04 06:44] jprupp commented on #373
The plan is to support Bitcoin Cash (BCH) and Bitcoin SegWit (BTC) exclusively. Having a modular approach could work, but I expect that to be too much work for only these two networks whose validation rules mostly overlap.

[2019-04-04 14:44] ProofOfKeags commented on #373
This is true for now, I'm more just concerned about them diverging in the future and what principled approach for this library is to handle that scenario. I'll proceed for now with both opcode sets projected to the same set. But I expect to revisit this conversation sometime in the near future as the protocols continue to grow.

[2019-05-27 03:11] jonathanknowles opened #375 "`bech32Encode` generates invalid output if the HRP contains upper case characters."
## Overview

When [`bech32Encode`](https://github.com/haskoin/haskoin-core/blob/d14b988dcfd96e20ec260ff8fd2f45f288c8587f/src/Network/Haskoin/Address/Bech32.hs#L131) is called with a human-readable part that contains one or more **upper-case characters**, it produces in an **invalid** Bech32 string that cannot be decoded with the `bech32Decode` function.

## Analysis

As part of the encoding proces

[2019-05-27 03:21] jonathanknowles commented on #375
This bug is also present in the [Haskell reference implementation for Bech32](https://github.com/sipa/bech32/issues/49), for which a [fix](https://github.com/sipa/bech32/pull/50) is available.

[2019-06-24 16:21] jprupp commented on #375
Thank you for this report. I'll fix it for the next release.

[2019-09-24 12:56] JuliaBonita opened #377 "ED25519 Support?"
Thank you for creating this repo. It has helped me to learn a lot about Haskell-based crypto.

Given that ED25519 has some significant security and performance advantages and much of the crypto community is moving to ED25519, do you plan to add ED25519 support to Haskoin (including support for multisig) at some point?

[2019-09-24 13:09] jprupp commented on #377
If Bitcoin Cash adds ED25519 signatures to transactions then I would add support in Haskoin for that. I am not at the moment aware of efforts in that direction. Bitcoin signatures use the SECP256K1 curve exclusively at the moment.

[2019-09-24 13:09] #377 closed, assigned to nobody

[2019-09-26 12:01] JuliaBonita commented on #377
Thank you for your reply. The Bitcoin Core team is adding Schnorr signatures to [their secp256k1 implementation](https://github.com/sipa/bips/blob/bip-schnorr/bip-schnorr.mediawiki) very soon. You probably already know that ED25519 and Schnorr signatures are essentially the same thing, but they just use different EC curves. That means Bitcoin will get the benefits of ED25519 while still preserving

[2019-09-26 12:05] JuliaBonita commented on #377
I just noticed that Bitcoin Cash has already [started adding Schnorr signatures, too](https://github.com/bitcoincashorg/bitcoincash.org/blob/master/spec/2019-05-15-upgrade.md).

[2019-09-26 16:17] jprupp commented on #377
I haven't considered this a priority for this package, but I would merge a patch if it lands on my lap.

[2019-10-29 09:15] #375 closed, assigned to nobody

[2019-12-10 13:01] jprupp commented on #373
There is no present or future plan to accommodate future forks of either Bitcoin or Bitcoin Cash or other cryptocurrencies in any of the Haskoin programs. That can change in the future, but for the sake of simplicity you should carry on under this assumption.

[2019-12-24 15:20] diogob opened #379 "SegWit transaction support"
Dear maintainers,

First thanks for open sourcing this great work. I've been using haskoin-store for a while and it's a really nifty tool.
Second, from what I could observer the function `signTx` cannot produce a SegWit transaction, is that correct? I say this because of the implementation of [sigKeys](https://github.com/haskoin/haskoin-core/blob/master/src/Network/Haskoin/Transaction/Builder.hs#L

[2020-01-01 10:59] #373 closed, assigned to nobody

[2020-01-01 11:00] jprupp commented on #372
I don't think we should consider this a priority at the moment. I'm going to close and let work happen in a fork/branch until it is ready for merging.

[2020-01-01 11:00] #372 closed, assigned to nobody

[2020-01-01 11:01] jprupp commented on #379
Knock yourself out mate. I didn't add support for SegWit transactions to transaction signing code. Make sure to write tests for your code if you do.

[2020-01-02 19:27] GambolingPangolin commented on #379
I'm currently working on improving the segwit (and taproot) support.  This is good motivation to finish the segwit portion up sooner rather than later.

[2020-01-15 17:46] juhp opened #382 "haskoin-core-0.9.8: No instance for (MonadFail PutM) for ghc-8.8"
Fails to build with ghc-8.8.1 (current Stackage Nightly)

[code]

[2020-01-15 19:03] jprupp commented on #382
Ah, this one escaped me. It will be fixed for version 0.9.9.

[2020-01-16 00:49] juhp commented on #382
Thanks

[2020-01-16 01:55] #382 closed, assigned to nobody

[2020-02-21 11:53] #379 closed, assigned to nobody

[2020-05-19 06:17] juhp opened #385 "haddock: src/Haskoin/Block/Common.hs:278:5: error: parse error on input ‘{’"
[code]

[2020-05-19 21:54] #385 closed, assigned to nobody

[2020-07-03 17:21] fatmalama opened #390 "hackage documentation missing again"
the latest version on hackage lacks documentation. apparently a bug way back in 2017 #277, I don't know what has happened ever since because I've just discovered haskoin

[2020-07-03 17:27] fatmalama opened #391 "Network, undocumented"
I don't understand what network is for from reading the source or why I need it for importing a xpub string, nor how to provide it

[2020-07-03 18:37] GambolingPangolin commented on #390
The [docs hosted on stackage][1] usually build correctly, although you will not always find completely up-to-date docs.  The current version there includes a big recent namespace organization and should be adequate to get familiar with the library.

[1]: https://www.stackage.org/package/haskoin-core

[2020-07-03 19:23] fatmalama commented on #391
ok I get it now, you select a blockchain network. maybe it could be said on the Network data definition instead of "Constants for network"

[2020-07-06 11:06] jprupp commented on #391
If you have any clarification suggestions to improve documentation please send pull request. I'm closing this issue but sometime in the future I will take a good at all the project's documentation.

[2020-07-06 11:06] #391 closed, assigned to nobody

[2020-07-06 11:06] jprupp commented on #390
Yeah, go for Stackage documentation. I stopped caring about updating Hackage since Stackage exists.

[2020-07-06 11:06] #390 closed, assigned to nobody

[2020-07-26 01:26] fatmalama opened #393 "BIP-44, BIP-49 + BIP-84 (and ypub/zpub encodings) support"
I don't know whether to trust the library. some of these points possibly due to ignorance on how they're supposed to work and they may be alright, but others make me think something is actually wrong

1. it won't import zpubs nor ypubs with xPubFromJSON/xPubFromEncoding
2. it derives segwit addresses from xpubs - aren't they supposed to be derived only from ypub and zpub?
3. I can't get matching d

[2020-07-27 02:52] wraithm commented on #393
Yeah, we should support BIP-49 (https://github.com/bitcoin/bips/blob/master/bip-0049.mediawiki) and BIP-84 (https://github.com/bitcoin/bips/blob/master/bip-0084.mediawiki). We currently do not, to my knowledge.

The segwit signatures work. [This](https://github.com/haskoin/haskoin-core/blob/master/test/Haskoin/Crypto/SignatureSpec.hs) has the test suite for some basic signatures. It just doesn't u

[2020-07-27 03:12] wraithm commented on #393
By the way, we don't really support BIP-44 in haskoin-core, so maybe I spoke imprecisely by saying we should support BIP-49/84. We should support those encodings though at least, or maybe consider implementing BIP-44/49/84 and various HD derivation schemes.

You can use xprvs with segwit to produce valid transactions. There's nothing necessarily invalid about that, maybe just non-standard relative

[2020-08-09 10:21] jprupp commented on #393
I'd be completely fine merging a pull request for this feature, and releasing a new version of the library.

[2020-11-02 15:55] wraithm opened #396 "I think it would also make sense to make revisions on Hackage with `base16-bytestring >= 0.1.1.6 && < 1.0.0` for `haskoin-core` versions prior to this one (0.17.1) going back to 0.13."
I think it would also make sense to make revisions on Hackage with `base16-bytestring >= 0.1.1.6 && < 1.0.0` for `haskoin-core` versions prior to this one (0.17.1) going back to 0.13.

_Originally posted by @GambolingPangolin in https://github.com/haskoin/haskoin-core/pull/395#issuecomment-720011926_

[2020-12-20 15:45] nuttycom opened #397 "No haddock on Hackage"
The last several releases appear to be missing all the haddocks, could this be fixed?

[2020-12-20 16:55] jprupp commented on #397
I'd need to generate and upload the Haddock documentation manually because otherwise Hackage servers cannot generate it themselves. The reason for this is that Haskoin Core has some external non-Haskell dependencies, precluding Hackage from being able to build it.

[Stackage](https://www.stackage.org/lts-16.26/package/haskoin-core-0.13.4) usually manages to build docs just fine.

[2021-01-08 17:58] jprupp commented on #397
I got a script that uploads the documentation to Hackage working. It should be there for the latest release.

[2021-01-08 17:58] #397 closed, assigned to nobody

[2021-02-22 11:37] jprupp commented on #396
I switched to the `base16` package in version 0.20.0.

[2021-02-22 11:37] #396 closed, assigned to nobody

[2021-02-22 20:51] GambolingPangolin commented on #396
This is a problem specifically for those old versions.  A revision would make them usable for more users.

[2021-02-22 23:21] jprupp commented on #396
I see where you are coming, but any revision other than the most recent one is to be considered unsupported, and to do otherwise would require considerable effort. The Bitcoin networks and the Haskell ecosystem are living systems undergoing constant change. It's logistically challenging enough to keep up. If you use an older version of this library, upgrade or fork.

[2021-10-18 23:09] GambolingPangolin opened #399 "Choice-free formatting via `ormolu` or `fourmolu` with default settings"
Is there any interest in formatting the code with `fourmolu` (or `ormolu`) to get a consistent formatting style?  IME this reduces developer effort, and compared to `stylish-haskell` reduces diff sizes.

[2021-10-18 23:29] wraithm commented on #399
@jprupp, we've had great success with fourmolu and hls in our code base. ormolu would work great too!

[2021-10-27 18:45] jprupp commented on #399
I'm happy with it, as long as I don't have to do editor hacking. I use Spacemacs and it doesn't seem to have direct support. Do I need editor support?

[2021-10-27 18:55] wraithm commented on #399
Do you use lsp with spacemacs, as in haskell-language-server? Ormolu and fourmolu integrate with hls.

There is also ormolu.el (which works well with both ormolu and fourmolu) for emacs that's super straightforward to add. It's basically the same ergonomics as stylish-haskell's integration with haskell-mode.

You don't need editor support, but it's nice to have. Most IDEs/emacs/vim are covered wit

[2021-10-28 17:20] jprupp commented on #399
At the moment this seems like yak shaving. Let's revisit in the future as it matures and becomes better integrated with editors. By that I mean that there's a simple way to enable it in all editors, and it comes bundled with distributions or somehow it gets installed transparently without user effort.

An example of what it should be like: using `gofmt` when writing Go code. Once it is there, I'll

[2021-10-28 17:31] wraithm commented on #399
We have a formatter rn, it's stylish-haskell. Stylish-haskell isn't just automatically installed either. It's just that stylish-haskell is quickly becoming non-standard in the Haskell world.

Ormolu is super standard at this point. Like, rn, to work on Haskoin, I have to disable hls's standard formatting stuff and enable stylish-haskell via haskell-mode. All you have to do is `stack install ormolu

[2021-10-28 19:52] jprupp commented on #399
There is support for Haskell Language Server in Spacemacs. I'll set it up. If it is straightforward and reasonably stable I'll use it. I'm having flashbacks to random issues with hindent that made it irritating to use. Let's see how this goes.

[2021-10-28 19:56] wraithm commented on #399
You might be surprised! I remember those bad old days too. Ormolu/fourmolu
are waaaay better. It's basically at the gofmt level of ergonomics now.

[2021-10-28 21:23] jprupp commented on #399
This is what I've done so far:

1. Read the disclaimer from the Spacemacs documentation for the develop version of the Haskell layer:

2. I don't like additional setup, but let's see what it entails. Another disclaimer:

3. Following the instructions, it tells me to go to the Haskell Language Server documentation:

Downloading a bunch of executable files (I have multiple Haskell projects on differ

[2021-10-29 01:10] wraithm commented on #399
I'd really recommend using ghcup instead of what they say there. That tool
can set you up with hls. You don't have to worry about all of the
complexity that that documentation implies:

https://haskell.org/ghcup

If you install hls via their little "tui", you'll be good to go after
enabling hls in the Haskell layer of spacemacs. It's very easy now-a-days.

Also, if you're really busy, I'd be more

[2021-10-29 07:32] jprupp commented on #399
I have been referring to yak shaving so far, and it is exactly what this is. I want a formatter, but end up with a new tool, ghcup, which so far has not been necessary for me to write Haskell code, another tool, hls, that is still in early development, and a strong suspicion that Spacemacs will start becoming wobbly after I activate all this.

I want a formatter, but I expect not to have to do any

[2021-11-01 15:58] GambolingPangolin commented on #399
IMO making developers responsible for formatting is a drag on development that we should avoid.  `ormolu` completely automates formatting and leads to small diffs which is good for quality in an open project like this (it makes reviewing easier).  Moreover, I have some experience with how making this change significantly improved the development experience in a large industrial Haskell codebase.

[2021-11-01 23:11] jprupp commented on #399
I managed to get `haskell-language-server` working on my system using its Fedora repository and direct support from Spacemacs. That's a level of complexity that I'm willing to tolerate, even if it means that I cannot bump my project's LTS Haskell version to use a newer compiler than what my distribution already provides, as it would break the IDE. So far, so good.

This formatter better be the cat

[2021-11-01 23:27] GambolingPangolin commented on #399
Yes, your snippet looks like it's an output of `ormolu`.  HLS and `ormolu` are related but if you are reluctant to tie yourself to a supported GHC version, you can install `ormolu` as a standalone executable and use `ormolu-mode`.

[2021-11-01 23:28] GambolingPangolin commented on #399
HLS is def worth exploring.  I find it very useful!  For example, it implements go to definition (in your project) and some nice code completions like branching on a sum type or giving you a record literal definition.

[2021-11-01 23:50] jprupp commented on #399
Yes, I also found an `ormolu` package in Fedora repos. Now I'm confident that I can help someone else set this up on his computer to contribute code.

Now I'll reformat the entire project and push it on a single large refactoring commit.

Tell me if you have anything that is pending to be merged before I do this.

-------- Original Message --------
On 1 Nov 2021, 23:27, Ian Shipman wrote:

[2021-11-01 23:54] GambolingPangolin commented on #399
https://github.com/haskoin/haskoin-core/pull/402 is just waiting on a response from @wraithm or @jprupp about the signer API, but I'm happy to rebase if you don't wanna wait for it.

[2021-11-02 00:02] wraithm commented on #399
Merged

[2021-11-02 00:07] wraithm commented on #399
Yeah, I'm sorry that I didn't fully explain what's going on @jprupp. hls has an ormolu plugin, but ormolu can absolutely stand on its own. There's the ormolu.el emacs package, but you don't need that if you use hls, which is what everybody is using these days. hls is also editor agnostic! hls and its ormolu formatter works just as well in emacs, vim, vscode, etc etc!

It really is a huge step in t

[2021-11-03 20:51] #399 closed, assigned to nobody

[2021-11-11 20:48] GambolingPangolin opened #405 "Signing support for P2TR outputs"
I would like to contribute P2TR signing functionality to the ecosystem.  Ultimately this relies on algorithms that are part of `libsecp256k1` master, but behind a flag.  Most Linux distributions ship a version of `libsecp256k1` _without_ those algorithms.  (The version in `nixpkgs-unstable` does ship BIP340 signing support.)

There are three options as I see it.

- Add BIP340 signature bindings to

[2021-11-11 20:49] GambolingPangolin commented on #405
@jprupp @wraithm what do you think?

[2021-11-11 22:27] wraithm commented on #405
What would the special package look like? I don't quite see the full vision for the second option. Could you flesh that out for me?

[2021-11-11 22:46] jprupp commented on #405
I was thinking of the same question. How would that package work?

Is it possible to hide the P2TR code behind a compile-time flag? As long as a shell script is provided that will run the tests with and without flags, using the appropriate Nix package, without extra hassle, such that anyone can run it.

[2021-11-12 04:41] GambolingPangolin commented on #405
## Special package

The special package would require a version of `libsecp256k1` with the BIP340 stuff enabled.  It would have bindings to the signing and verification logic under `secp256k1_schnorrsig.h`.  This entails duplicating some of the non-public code in `haskell-secp256k1`, but I think that's ok.  It would also expose an API for creating `TxSignature` values for inclusion in P2TR witness

[2021-11-15 05:34] GambolingPangolin commented on #405
I made a PoC sidecar package.  It currently does not work, but should give you an idea of what the package would include.  You can see it at https://github.com/GambolingPangolin/bitcoin-taproot .

[2021-11-16 14:29] NCrashed commented on #405
As an active user of the library ([ergvein wallet](https://github.com/hexresearch/ergvein)) I consider the flag option optimal. Also, if there would be any tasks that I can help with, I am in. We want to add taproot support to the wallet.

[2021-11-16 15:21] GambolingPangolin commented on #405
@NCrashed good to hear your thoughts.  I'll go ahead and create some branches that put the signing code behind flags, so everyone can have a look at that.

[2021-11-16 15:42] wraithm commented on #405
I also agree that the flag option is the most intuitive and straightforward
one for the user.

[2022-01-22 05:28] jdeblese commented on #393
I've taken a stab at this, and have some prototype code that might be suitable. However, I've one question: how supportive should haskoin-core be of jumping borders between serialization formats and networks?

I.e., if a btcTest ypub is imported, should all derived keys automatically be btcTest ypubs, requiring an explicit extra step to change network and/or serialization format; or, should keys h

[2022-01-22 13:26] jprupp commented on #393
Ideally, if the address format itself encodes information about which network it is valid for, then the resulting internal data type decoded from said address should also do the same. So your intuition is correct: there should be an explicit extra step to convert between networks if the key isn't meant to be valid in that other network.

For example, when dealing with regular addresses, the librar

[2022-01-23 00:09] jdeblese commented on #393
I ended up entirely removing the check against the network when decoding an address, and am having the key store the version word unmodified. I've added a functions to test if a key is valid on a given network, as well as to migrate a key from one network to another. It passes tests, and I've also checked it against the BIP-84 test vectors.

[jdeblese/haskoin-core/BIP-49-84](https://github.com/jde

[2022-01-24 14:24] lontivero commented on #393
I would suggest to forget about `[yz](pub|prv)` because the best structure/format to encode `network+pubkey` is `xpub` and other data like _derivation path_ and _script type_ can be expressed more conveniently by using _output descriptors_.

Another reason is that those encoding formats can be added later and almost effortless. In the Wasabi project we added limited support to export `zpub` for ma

[2022-01-25 05:14] jdeblese commented on #393
If the Key types don't contain a format or purpose field, there isn't really anything to be done for these BIPs, as the only thing they do is set a purpose field in the derivation path, and in the case of 49 and 84 set a script type. Functions can only be added to haskoin-core to do that automatically if the purpose is recorded in the key, but then the serialization should support it cleanly as we

[2022-01-25 16:36] lontivero commented on #393
That's precisely my point, i think there is no point on adding support for those formats.

https://github.com/bitcoin/bips/blob/master/bip-0380.mediawiki

[2022-01-25 17:49] jdeblese commented on #393
Ok, we're in agreement. I may still submit a pull request for a convenience function for changing the version word of a base58-encoded key, as I expect that to be a commonly-used operation.

Thanks for the link.

[2022-06-28 23:21] ProofOfKeags opened #410 "Deprecate support for BCH"
The fact that BTC and BCH have a common history don't have a bearing on their future developments. Feature sets have diverged over the last several years. Best to fork the codebase in two rather than keeping both sets of functionality in a single library.

[2022-06-29 07:05] jprupp commented on #410
I don't expect Bitcoin Core and Bitcoin Cash to stray far enough from each other such that it becomes easier to support both networks with two separate codebases.

If it becomes harder to support Bitcoin Core and Bitcoin Cash than it is now, my approach will be to perform major changes, probably in a non-backwards-compatible manner, to separate more cleanly the network-dependent code.

[2022-06-29 07:05] #410 closed, assigned to nobody